@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@keyframes snowflake-fall {
  0% {
    transform: translateY(40%); /* Start off-screen */
    opacity: 1; /* Fully visible at the start */
  }
  90% {
    transform: translateY(90%); /* Start off-screen */

    opacity: 1; /* Keep the snowflake fully visible during most of its fall */
  }
  100% {
    transform: translateY(100%); /* End at the bottom of the screen */
    opacity: 0; /* Fade out the snowflake */
  }
}

@keyframes snowman-move {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(
      100%
    ); /* Make the snowman go all the way to the right */
  }
}

.snowflake {
  position: absolute;
  top: 10%; /* Start off-screen */
  animation-name: snowflake-fall; /* Name of the animation */
  animation-fill-mode: forwards;
  top: 0;

  animation-duration: 1s; /* How long it takes to complete one cycle */
  animation-timing-function: linear; /* The speed curve of the animation */
  animation-fill-mode: forwards;
  animation-iteration-count: 1; /* How many times the animation should repeat */
  z-index: 2;
}

.snowman {
  animation: snowman-move 2s linear infinite alternate;
}

.clicked-snowflake {
  opacity: 0;
  pointer-events: none;
}
