@tailwind base;
@tailwind components;
@tailwind utilities;

/* The container where snowflakes will fall */
.snowflake-area {
  @apply relative;
  min-height: 100vh; /* Full height to allow accumulation */
}

/* Styles for snowflakes */
.snowflake {
  @apply transition-all duration-1000;
}

/* Animation for white snowflakes */
@keyframes grow-animation {
  from {
    @apply transform scale-100;
  }
  to {
    @apply transform scale-125;
  }
}

.grow {
  animation: grow-animation 0.5s ease-in-out forwards;
}

/* Animation for fading out on click */
.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out:active {
  opacity: 0;
}
